@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --sidebar-w: 16rem;
  --sidebar-mobile-w: 18rem;
  --sidebar-icon-w: 3rem;

  --background: 1 0 0;
  --foreground: 0.145 0 0;

  --card: 0 0% 5%;
  --card-foreground: 0 0% 100%;

  --popover: 1 0 0;
  --popover-foreground: 0.145 0 0;

  --primary: 0.205 0 0;
  --primary-foreground: 0.985 0 0;

  --secondary: 0.97 0 0;
  --secondary-foreground: 0.205 0 0;

  --muted: 0.97 0 0;
  --muted-foreground: 0.556 0 0;

  --accent: 0.97 0 0;
  --accent-foreground: 0.205 0 0;

  --destructive: 0.577 0.245 27.325;

  --border: 0.922 0 0;
  --input: 0.922 0 0;
  --ring: 0.708 0 0;
}

.dark {
  --background: 0.145 0 0;
  --foreground: 0.985 0 0;

  --card: 0.205 0 0;
  --card-foreground: 0.985 0 0;

  --popover: 0.205 0 0;
  --popover-foreground: 0.985 0 0;

  --primary: 0.922 0 0;
  --primary-foreground: 0.205 0 0;

  --secondary: 0.269 0 0;
  --secondary-foreground: 0.985 0 0;

  --muted: 0.269 0 0;
  --muted-foreground: 0.708 0 0;

  --accent: 0.269 0 0;
  --accent-foreground: 0.985 0 0;

  --destructive: 0.704 0.191 22.216;

  --border: 1 0 0 / 10%;
  --input: 1 0 0 / 15%;
  --ring: 0.556 0 0;
}

@layer base {
  * {
    @apply border-border outline-ring;
  }

  /* animatable angle */
  @property --angle-1 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -45deg;
  }
  [data-radix-accordion-content] {
    transition: height 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .glass-arc {
    --border-width: 1px;

    @apply relative rounded-full bg-white/20 backdrop-blur-md;
  }

  .glass-arc::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    width: calc(100% + var(--border-width));
    height: calc(100% + var(--border-width));
    top: calc(-1 * var(--border-width) / 2);
    left: calc(-1 * var(--border-width) / 2);

    padding: var(--border-width);
    box-sizing: border-box;

    background: conic-gradient(
      from var(--angle-1) at 50% 50%,
      rgba(255, 255, 255, 0.4) 0deg 104deg,
      rgba(255, 255, 255, 0) 104deg 135deg,
      rgba(255, 255, 255, 0.4) 135deg 285deg,
      rgba(255, 255, 255, 0) 285deg 318deg,
      rgba(255, 255, 255, 0.4) 318deg 360deg
    );

    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);

    mask-composite: exclude;
  }

  body {
    @apply bg-background text-foreground;
  }
  :root {
    --sidebar-background: 0 0% 7%/1;
    --sidebar-foreground: 0 0% 100%/1;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 100%/0.1;
    --sidebar-accent-foreground: 26 80% 65%/1;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --map-default: 0 0% 80%;
    --map-low: 205 54% 70%;
    --map-mid: 205 68% 46%;
    --map-high: 215 80% 35%;
    --map-hover: 205 100% 33%;
    --background: 0 0% 86%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%/0.1;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
/* globals.css or index.css */
@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes overlayExit {
  from {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}
